@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;1,300;1,400&display=swap');

@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #f5f4f893;
  font-family: 'Open Sans', sans-serif;
}

p, h1,h2,h3,h4,h5{
  font-family: 'Open Sans', sans-serif;

}

#custom-scrollbar-container {
  scrollbar-width: none !important; 
  scrollbar-color: transparent transparent !important;
}

#custom-scrollbar-container ::-webkit-scrollbar {
  width: 0 !important; 
  height: 0;
}

#custom-scrollbar-container ::-webkit-scrollbar-thumb {
  background: red; /* Hide scrollbar thumb background */
  border: none; /* Hide scrollbar thumb border */
}
